/var/log/supervisord.log
/var/log/supervisord/*.log
{
  daily
  dateext
  rotate 90
  compress
  delaycompress
  postrotate
    /bin/kill -SIGUSR2 `cat /var/run/supervisord.pid` > /dev/null 2>/dev/null || true
  endscript
}

