#!/bin/sh

PATH=/usr/local/perl-5.30/bin:/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin
export PATH

NCPU=`getconf _NPROCESSORS_ONLN`
WORKERS=$(expr $NCPU \* 2)

cd /var/www/movabletype

exec starman --workers=$WORKERS --listen :8080 --listen /var/run/movabletype/mt.sock --error-log=/var/log/movabletype/error.log --pid=/var/run/movabletype/mt.pid mt.psgi
