/var/log/movabletype/*log {
    daily
    dateext
    rotate 7
    compress
    missingok
    notifempty
    sharedscripts
    postrotate
        /bin/systemctl reload movabletype.service > /dev/null 2>/dev/null || true
    endscript
}
