/var/log/movabletype/*log {
    daily
    dateext
    rotate 7
    compress
    missingok
    notifempty
    sharedscripts
    postrotate
{% if centos_rhel %}
        /usr/local/bin/supervisorctl pid movabletype | xargs kill -HUP > /dev/null 2>/dev/null || true
{% else %}
        /usr/bin/supervisorctl pid movabletype | xargs kill -HUP > /dev/null 2>/dev/null || true
{% endif %}
    endscript
}
