[Unit]
Description=Movable Type
After=network.target
After=syslog.target
{% if mysqld %}
After=mysqld.service
{% endif %}

[Service]
Type=forking
User={{ owner }}
Group={{ owner }}
UMask=0000
EnvironmentFile=/var/www/movabletype.conf
Environment=PERL5LIB=/var/www/movabletype/lib
Environment=MT_HOME=/var/www/movabletype
Environment=PID=/run/movabletype/mt.pid
Environment=SOCKET=/run/movabletype/mt.sock
ExecStart=/usr/local/perl-{{ perl.version }}/bin/starman --daemonize --workers=${WORKERS} --max-requests=${MAXREQUESTS} --disable-keepalive --listen :${PORT} --listen ${SOCKET} --pid=${PID} --error-log=/var/log/movabletype/error.log ${MT_HOME}/mt.psgi
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target
