ServerTokens Prod
ServerSignature Off

Header always set X-Content-Type-Options nosniff
Header unset X-Powered-By
Header append X-Frame-Options SAMEORIGIN
Header set X-XSS-Protection "1; mode=block"
DirectoryIndex index.html index.php
