<Virtualhost *:80>
    Options -Indexes
    ServerName  dummy.example.jp
    TraceEnable Off
    <Location />
        Order deny,allow
        Deny from all
    </Location>

    RewriteEngine on
    RewriteCond %{REQUEST_METHOD} ^TRACK
    RewriteRule .* - [R=405,L]

</Virtualhost>
