Timeout 300
KeepAlive On
KeepAliveTimeout 120

<IfModule !mpm_prefork_module>
StartServers        3
MinSpareThreads    64
MaxSpareThreads   256
ThreadsPerChild    32
MaxRequestWorkers 256
MaxConnectionsPerChild 0
</IfModule>
<IfModule mpm_prefork_module>
StartServers      20 
MinSpareServers   20
MaxSpareServers  256
ServerLimit      256
MaxClients       256
MaxRequestsPerChild  2000
</IfModule>
