- name: install the latest version of Apache
  dnf:
    name:
      - httpd
      - httpd-devel
      - httpd-tools
      - mod_ssl
    state: present
  tags: httpd

- name: remove file from /etc/httpd/conf.d/*
  file: path=/etc/httpd/conf.d/{{ item }} owner=root group=root mode=0644 state=absent
  with_items:
    - autoindex.conf
    - README
    - ssl.conf
    - userdir.conf
    - welcome.conf
  tags: httpd

- name: touch file from /etc/httpd/conf.d/*
  file: path=/etc/httpd/conf.d/{{ item }} owner=root group=root mode=0644 state=touch
  with_items:
    - autoindex.conf
    - README
    - ssl.conf
    - userdir.conf
    - welcome.conf
  tags: httpd

- name: remove file from /etc/httpd/conf.modules.d/*
  file: path=/etc/httpd/conf.modules.d/{{ item }} owner=root group=root mode=0644 state=absent
  with_items:
    - 00-dav.conf
    - 00-lua.conf
    - 10-h2.conf
    - 10-proxy_h2.conf
  tags: httpd

- name: touch file from /etc/httpd/conf.modules.d/*
  file: path=/etc/httpd/conf.modules.d/{{ item }} owner=root group=root mode=0644 state=touch
  with_items:
    - 00-dav.conf
    - 00-lua.conf
    - 10-h2.conf
    - 10-proxy_h2.conf
  tags: httpd

- name: replace httpd.conf for httpd2.4
  replace: dest="/etc/httpd/conf/httpd.conf" regexp="{{ item.regexp }}" replace="{{ item.replace }}" 
  with_items: "{{ httpd_conf24 }}"
  tags: httpd

- name: insert 'mt-static' configuation block in httpd.conf
  blockinfile:
    dest: /etc/httpd/conf/httpd.conf
    block: "{{ aliasdirectory }}"
  tags: httpd

- name: replace 00-base.conf
  replace: dest="/etc/httpd/conf.modules.d/00-base.conf" regexp="{{ item.regexp }}" replace="{{ item.replace }}" 
  with_items: "{{ disable_base_module }}"
  tags: httpd

- name: replace 00-proxy.conf
  replace: dest="/etc/httpd/conf.modules.d/00-proxy.conf" regexp="{{ item.regexp }}" replace="{{ item.replace }}" 
  with_items: "{{ disable_proxy_module }}"
  tags: httpd

- name: replace 00-mpm.conf
  replace: dest="/etc/httpd/conf.modules.d/00-mpm.conf" regexp="{{ item.regexp }}" replace="{{ item.replace }}" 
  with_items: "{{ replace_mpm_module }}"
  tags: httpd

- name: Create Apache configuration file
  template: src=00.setting.conf.j2 dest=/etc/httpd/conf.d/00.setting.conf force=no
  tags: httpd

- name: Create vhost.dummy configuration file
  template: src=01.dummy.conf.j2 dest=/etc/httpd/conf.d/01.dummy.conf force=no
  tags: httpd

- name: Create ssl configuration file
  template: src=02.ssl2.4.conf.j2 dest=/etc/httpd/conf.d/02.ssl.conf force=no
  tags: httpd

- name: Create mpm configuration file
  template: src=03.mpm.conf.j2 dest=/etc/httpd/conf.d/03.mpm.conf force=no
  tags: httpd

- name: Create Apache2.4 configuration file vhosts
  template: src=vhosts2.4.conf.j2 dest=/etc/httpd/conf.d/{{ item.name }}.conf force=no
  with_items: "{{ vhosts }}"
  tags: httpd

- name: httpd vhosts directory
  file: path=/var/www/vhosts/{{ item.name }}/ state=directory owner=apache group={{ group.shared }} mode=0775
  with_items: "{{ vhosts }}"
  tags: httpd

- name: change owner
  file: path=/var/www/vhosts owner=root group=root mode=0755
  tags: httpd

- name: httpd vhosts cgi-bin
  file: path=/var/www/vhosts/{{ item.name }}/cgi-bin/ state=directory owner=apache group={{ group.shared }} mode=2775
  with_items: "{{ vhosts }}"
  tags: httpd

- name: httpd vhosts htdocs
  file: path=/var/www/vhosts/{{ item.name }}/htdocs/ state=directory owner=apache group={{ group.shared }} mode=2775
  with_items: "{{ vhosts }}"
  tags: httpd

- name: httpd vhosts logs
  file: path=/var/www/vhosts/{{ item.name }}/logs/ state=directory owner=apache group={{ group.shared }} mode=2775
  with_items: "{{ vhosts }}"
  tags: httpd

- name: copy a new ssl files
  copy: src="{{ item }}" dest=/etc/httpd/ssl/ owner=root group=root mode=0644
  with_fileglob: "ssl/*"
  tags: httpd

- name: modify apache users
  user: name=apache group="{{group.shared}}" groups=apache append=yes
  tags: httpd

- name: set cronvar
  cronvar: user="root" name="{{ item.name }}" value="{{ item.value }}"
  with_items:
   - { name: 'PATH', value: '/bin:/sbin:/usr/bin:/usr/local/bin' }
  tags: httpd

- name: compress the log
  cron: name='compress the log' job="find /var/www/vhosts/*/logs/ -type f ! -name \"*`date +\\%Y\\%m\\%d`*\" ! -name \"*.gz\" -print0 | xargs -0 gzip 1>/dev/null" minute=1 hour=0 state=present
  tags: httpd

- name: delete the log
  cron: name='delete the log' job="find /var/www/vhosts/*/logs/ -type f -name '*.gz' -mtime +31 -print0 | xargs -0 rm -rf 1>/dev/null" minute=5 hour=0 state=present
  tags: httpd

# pip passlibに依存
- name: create htpasswd
  htpasswd: path=/var/www/htpasswd name={{ item.user }} password={{ item.password }} owner=apache group={{ group.shared }} mode=0644
  with_items: "{{ basic.users | default([]) }}"
  tags: httpd
