#- name: Install libselinux-python
#  dnf:
#    name: "libselinux-python:2.8/common"
#    state: present
#  when: (ansible_distribution == "RedHat" or ansible_distribution == "CentOS") and
#        (ansible_distribution_major_version == "8")
#  tags: SELinux

- name: Install libselinux-python
  yum: name=libselinux-python state=present
  when: centos7 or rhel7
  tags: common

- name: install the epel repositry
  yum:
    name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present
  when: centos_rhel
  tags: common

- name: install the remi repositry
  yum:
    name:
      - "http://rpms.famillecollet.com/enterprise/remi-release-{{ ansible_distribution_major_version }}.rpm"
    state: present
  when: centos_rhel
  tags: common

- name: install the 'epel repositry'
  shell: "amazon-linux-extras install epel -y"
  when: amzn2
  tags: common

- name: disable repo the epel
  replace: dest=/etc/yum.repos.d/epel.repo regexp="enabled *= *1" replace="enabled=0"
  tags: common

- name: disable repo the remi
  replace: dest=/etc/yum.repos.d/remi.repo regexp="enabled *= *1" replace="enabled=0"
  when: centos_rhel
  tags: common

- name: disable repo the remi-safe
  replace: dest=/etc/yum.repos.d/remi-safe.repo regexp="enabled *= *1" replace="enabled=0"
  when: centos_rhel
  tags: common

- name: install the 'Development tools' package group
  yum: name="@Development tools" state=present
  tags: common

- name: Install the python-devel
  yum: name=libselinux-python state=present
  when: centos7 or rhel7 or amzn2
  tags: common

- name: install the latest libraries
  yum: name="{{ packages }}" state=present
  tags: common

- name: yum update
  yum: state=latest name=*
  tags: common

- name: remove the sendmail package
  yum: name=sendmail state=absent
  tags: common

- name: disable the daemon for amazon2
  service: name={{ item }} enabled=no state=stopped
  with_items: "{{ disable_daemon_amazon2 }}"
  when: amzn2
  tags: common

- name: installed langpack
  yum: name="{{ langpack }}" state=present
  when: centos8 or rhel8
  tags: common

- name: set locale
  command: localectl set-locale LANG={{ locale }} 
  tags: common

- name: set timezone to Asia/Tokyo
  command: timedatectl set-timezone {{ zone }}
  tags: common

- name: remove yum-cron
  yum: name='yum-cron' state=absent
  tags: common

- name: disable SELinux
  selinux: state=disabled
  when: centos_rhel
  tags: common

- name: set path to ldconfig
  template: src=usr_local.conf.j2 dest=/etc/ld.so.conf.d/usr_local.conf
  tags: common

- name: set hostname
  hostname: name={{server_hostname}}
  tags: common

- name: create groups
  group: name={{ item }} state=present
  with_items:
    - "{{shared_group}}"
    - "{{sftponly_group}}"
  tags: common
